:root {
  --foreground-color: white;
  --background-color: black;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

h1 {
  font-size: 24px;
}

.user-generator {
  border: 1px solid #333;
}

.show-more {
  width: 100%;
  text-align: right;
}

.generating-text {
  display: flex;
  align-items: center;
  color: white;
}

@media (min-width: 1024px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
  }
}
