body {
  background-color: seashell;
}

h1 {
  font-size: 24px !important;
  margin-bottom: 24px !important;
}

.generator-options {
  padding: 12px;
  margin-bottom: 8px;
}

.show-more {
  width: 100%;
  text-align: right;
}

.generating-text {
  display: flex;
  align-items: center;
}

.user-card {
  padding-right: 16px;
  margin-bottom: 16px;
}

.nationality-select {
  width: calc(100% - 8px);
}

.loading-circle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  /* cutoff for MUI medium screen */
  main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
  }
}

@media (max-width: 900px) {
  .user-card-photo {
    max-width: 200px;
    margin: 0 auto;
  }
}
